.leaders-section{
    margin-top: 3rem;
}

.leaders-card{
    width: 35rem;
    box-shadow: 0 0 5px #999;

}

.leaders-img{
    height: 25rem;
}

.leaders-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.leader-body{
    padding: 1rem;
}

.leader-card-title{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.leader-description{
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.leaders-card-container{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.leaders-more-btn{
    padding: 1.5rem 2rem;
    background-color: green;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1.7;
    display: block;
    width: max-content;
    margin: 3rem auto;
    border-radius: 5px;
}